body {
        text-align: center;
        background-color: lavender;
    }

    header {
        background-color: lightblue;
    }

    footer {
        background-color: lightgray;
    }
#name {
font-family: "Courier New", monospace;
}

img {
    border: 3px solid black;
}

main {
background-color: white;
padding: 30px;
margin: 40px auto;
max-width: 500px;
border-radius: 10px;
}
main h1 {
    color: darkblue; 
}
main h2 {
color: darkblue;
}

main p {
font-size: 18px;
line-height: 1.5;
}

input, select {
    padding: 8px;
    margin: 5px; 
    border: 1px solid gray; 
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: lightblue;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

button:hover {
    background-color: steelblue;
    color: white;
}